body{
  background-color: #fff;
  margin: 0;
}
.container{
  display: flex;
  align-items: center;
  background-color: #c1c9c8;
}
.left{
  background-color: #e9f1f1;
  width: 650px;
  height: 750px;
}
.right{
  align-items: center;
  justify-content: center;
}
.lefttop{
  background-color: #e0ecec;
  width: 650px;
  height: 250px;
  display: flex;
  align-items: center;
  margin-top: 0;
}
img{
  width: 200px;
  height: auto;
  border-radius: 50%;
  display: flex;
  margin: 10px;
  margin-left: 30px;
  cursor: pointer;
}
.myinfo{
  font-family: Arial, Helvetica, sans-serif;
  width: 400px;
  height: 200px;
  margin-top: 100px;
}
span{
  font-weight: bold;
}
ul{
  font-size: 120%;
}
.txt{
  padding: 10px;
  margin: 0;
  font-size: 120%;
  background-color: #cbe0df;
}
.txt h2{
  margin-left: 300px;
}
.education{
  margin-left: 20px;
}
.education p{
  margin: 0;
}
ul li a{
  text-decoration: none;
}

ul{
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-items: left;
}
.bottom{
  
  margin: 0px;
  height: 100px;
  background-color: #cbe0df;
}
 h2{
  padding-top: 10px;
  align-items: center;
  margin: 0;
}
.bottom h2 {
  padding-left: 100px;
}
.abc{
        display: block;
}
.myhob{
  display: flex;
  align-items: space-between;
  justify-content: space-around;
  margin-top: 30px;
  height: 100px;
 
}
.take{
  background-color: #fff;
  
}
button{
  margin-top: 30px;
  height: 30px;
  width: 100px;
  background-color: #767e7d;
  border: none;
  border-radius: 40%;
  color: #fff;
  cursor: pointer;
}
#img{
  
  border-radius: 30%;
  width: 150px;
  height: 80px;
  align-content: center;
  justify-content: center;
}
.texte{
   margin-top: 10px;
   margin-left: 280px;
   font-size: 170%;
   align-items: center;
   justify-content: center;
}